  * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
            box-sizing: border-box;

        }

        body {
            width: 100vw;
            height: 100vh;
            background: url(laurin-steffens-IVGZ6NsmyBI-unsplash.jpg) center center/cover no-repeat fixed;
            display: flex;
            flex-direction: column;

        }

        .container {
            color: white;
            max-width: 600px;
            margin: 100px auto 0;
            border-radius: 15px;
            padding: 25px;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(19px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9)
        }

        h1 {
            border-bottom: 1px solid black;
            padding-bottom: 5px;
        }

        .questions {
            margin-top: 10px;
            font-size: 20px;
            font-weight: 500;
        }

        .answerBtn {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .answer {
            margin: 10px;
            width: 500px;
            height: 40px;
            text-align: justify;
            padding: 10px;
            background-color: rgb(247, 232, 232);
            border-radius: 5px;
            cursor: pointer;
            border: transparent;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
            transition: 0.5s;
        }

        .answer:hover:not([disabled]) {
            background-color: rgba(0, 0, 0, 0.123);
            color: white;
            font-size: 15px;
        }

        .next {
            text-align: center;
            margin: 10px 0 20px 0;
            display: none;
        }

        .nxtBtn {
            /* display: block; */
            color: white;
            background-color: rgb(109, 229, 141);
            width: 95px;
            height: 40px;
            border: transparent;
            border-radius: 5px;
            font-size: 15px;
            cursor: pointer;
            transition: 0.5s;
            /* display: none; */

        }

        .nxtBtn:hover {
            background-color: rgb(89, 187, 115);
        }

        .correct{
            background: greenyellow;
            color: black;
        }

        .incorrect{
            background: red;
            color: black;
        }

